.add-cell {
  position: relative;
  opacity: 0;
  transition: opacity 0.2s ease-in 0.1s;
  padding: 2rem 2.5rem;
  margin: 0;
}

.add-cell:hover {
  opacity: 1;
}

.add-cell.force-visible {
  opacity: 1;
}

.add-cell .divider {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 2.5%;
  left: 2.5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 95%;
  z-index: -1;
}

.add-cell .add-buttons {
  display: flex;
  justify-content: center;
}

.add-cell .add-buttons button {
  margin: 0 20px;
}

.add-cell .btn {
  padding: 0.5rem 1.8rem;
  box-shadow: 2px 2px 1px 1px #f0f0f0;
  border-radius: 0.4rem;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  border: 1px #f3f3f3 solid;
  font-size: 0.75rem;
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.add-cell .btn:hover {
  color: slateblue;
}

.add-cell .btn span {
  margin-left: 0.5rem;
}
