.preview-wrapper {
  margin: 1rem 0;
  /* padding: 0.5rem; */
  width: 100%;
  background-color: white;
}

iframe.preview {
  /* height: fit-content;
  overflow-y: hidden;
  max-height: 40vh; */

  position: relative;
  height: auto;
  min-height: 100% !important;
  width: 100%;
  background-color: white;
}

.preview-error .preview-error {
  background-color: white;
}
