.preview-wrapper {
  margin: 1rem 0;
  /* padding: 0.5rem 0.5rem; */
  width: 100%;
  background-color: white;
}

.preview {
  position: relative;
  height: fit-content;
  min-height: 0 !important;
  width: 100%;
  /* background-color: white; */
  padding: 0 1rem;
  font-family: consolas, monospace;
  font-size: 14.5px;
}

.preview-error {
  background-color: white;
  color: rgba(220, 20, 60, 0.8);
  font-family: monospace;
  font-size: 14px;
  padding: 0 0.8rem;
}

iframe.output {
  width: 90%;
  /* min-height: 80px; */
  /* height: 500px; */
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

iframe::-webkit-scrollbar {
  display: none !important;
}
