.preview-wrapper {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 85%;

}

iframe.preview {
  /* height: fit-content;
  overflow-y: hidden;
  max-height: 40vh; */

  position: relative;
  height: auto;
  min-height: 100% !important;
}
