.code-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.container {
  width: 80%;
  /* display: grid;
  place-items: center; */
  box-shadow: 0 0 3px 3px #f0f0f0;
  border-radius: 0.3rem;
}

.code-editor-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.run-code-btn {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 10%;
  box-shadow: 2px 2px 3px 3px #f0f0f0;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in;
  transform: translateY(-15px);
}

.code-cell:hover .run-code-btn {
  opacity: 1;
  transform: translateY(0);
}
